{
  "openapi": "3.1.0",
  "info": {
    "title": "VirusTotal API v3",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://www.virustotal.com/api/v3"
    }
  ],
  "paths": {
    "/files/{id}": {
      "get": {
        "summary": "Get a file report",
        "description": "Retrieve information about a file",
        "operationId": "file-info",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SHA-256, SHA-1 or MD5 identifying the file",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "links",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Object type.",
                          "enum": [
                            "file"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "description": "Object ID."
                        },
                        "links": {
                          "type": "object",
                          "required": [
                            "self"
                          ],
                          "properties": {
                            "self": {
                              "type": "string",
                              "description": "Link to the object."
                            }
                          },
                          "additionalProperties": true
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/FileObject"
                        },
                        "relationships": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/urls/{id}": {
      "get": {
        "summary": "Get a URL analysis report",
        "description": "Returns a URL object.",
        "operationId": "url-info",
        "parameters": [
          {
            "name": "x-apikey",
            "in": "header",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "URL identifier or base64 representation of URL to scan (w/o padding)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "links",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Object type.",
                          "enum": [
                            "url"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "description": "Object ID."
                        },
                        "links": {
                          "type": "object",
                          "required": [
                            "self"
                          ],
                          "properties": {
                            "self": {
                              "type": "string",
                              "description": "Link to the object."
                            }
                          },
                          "additionalProperties": true
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/URLObject"
                        },
                        "relationships": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Apikey"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "The VirusTotal API follows the conventional HTTP response codes to indicate success or failure. Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error in the request (e.g. a missing parameter, a resource was not found). Codes in the `5xx` range indicate an error in VirusTotal's servers and should be rare.\n\nUnsuccessful requests return additional information about the error in JSON format.",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "BadRequestError",
              "WrongCredentialsError",
              "AuthenticationRequiredError",
              "TooManyRequestsError",
              "ForbiddenError",
              "NotFoundError",
              "QuotaExceededError",
              "UserNotActiveError",
              "InvalidArgumentError",
              "AlreadyExistsError",
              "TransientError",
              "UnselectiveContentQueryError",
              "UnsupportedContentQueryError",
              "NotAvailableYet",
              "FailedDependencyError",
              "DeadlineExceededError"
            ],
            "description": "* `BadRequestError` (400) - The API request is invalid or malformed. The message usually provides details about why the request is not valid.\n* `WrongCredentialsError` (401) - The provided API key is incorrect.\n* `AuthenticationRequiredError` (401) - The operation requires an authenticated user. Verify that you have provided your API key.\n* `TooManyRequestsError` (429) - Too many requests.\n* `ForbiddenError` (403) - You are not allowed to perform the requested operation.\n* `NotFoundError` (404) - The requested resource was not found.\n* `QuotaExceededError` (429) - You have exceeded one of your quotas (minute, daily or monthly). Daily quotas are reset every day at 00:00 UTC.\nYou may have run out of disk space and/or number of files on your VirusTotal Monitor account.\n* `UserNotActiveError` (401) - The user account is not active. Make sure you properly activated your account by following the link sent to your email.\n* `InvalidArgumentError` (400) - Some of the provided arguments are incorrect.\n* `AlreadyExistsError` (409) - The resource already exists.\n* `TransientError` (503) - Transient server error.  Retry might work.\n* `UnselectiveContentQueryError` (400) - Content search query is not selective enough.\n* `UnsupportedContentQueryError` (400) - Unsupported content search query.\n* `NotAvailableYet` (400) - The resource is not available yet, but will become available later.\n* `FailedDependencyError` (424) - The request depended on another request and that request failed.\n* `DeadlineExceededError` (504) - The operation took too long to complete."
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FileObject": {
        "type": "object",
        "description": "Files are one of the most important type of objects in the VirusTotal API. We have a huge dataset of more than 2 billion files that have been analysed by VirusTotal over the years. A file object can be obtained either by [uploading a new file](ref:files-scan) to VirusTotal, by [searching for an already existing file hash](ref:file-info) or by other meanings when searching in [VT Enterprise services](ref:search).\n\nA file object ID is its SHA256 hash.",
        "required": [
          "capabilities_tags",
          "creation_date",
          "downloadable",
          "first_submission_date",
          "last_analysis_date",
          "last_analysis_results",
          "last_analysis_stats",
          "last_modification_date",
          "last_submission_date",
          "main_icon",
          "md5",
          "meaningful_name",
          "names",
          "reputation",
          "sha1",
          "sha256",
          "sigma_analysis_summary",
          "size",
          "tags",
          "times_submitted",
          "total_votes",
          "type_description",
          "type_extension",
          "type_tag",
          "unique_sources",
          "vhash"
        ],
        "properties": {
          "capabilities_tags": {
            "type": "array",
            "description": "list of representative tags related to the file's capabilities. Only available for Premium API users.",
            "items": {
              "type": "string"
            }
          },
          "creation_date": {
            "type": "integer",
            "description": "extracted when possible from the file's metadata. Indicates when it was built or compiled. It can also be faked by malware creators. UTC timestamp."
          },
          "downloadable": {
            "type": "boolean",
            "description": "true if the file can be downloaded, false otherwise. Only available for Premium API users."
          },
          "first_submission_date": {
            "type": "integer",
            "description": "date when the file was first seen in VirusTotal. UTC timestamp."
          },
          "last_analysis_date": {
            "type": "integer",
            "description": "most recent scan date. UTC timestamp."
          },
          "last_analysis_results": {
            "type": "object",
            "description": "latest scan results. For more information about its format, check the [Analysis](#analyses-object) object `results` attribute.",
            "additionalProperties": true
          },
          "last_analysis_stats": {
            "type": "object",
            "description": "a summary of the latest scan results. For more information about its format, check the [Analysis](#analyses-object) object `stats` attribute.",
            "additionalProperties": true
          },
          "last_modification_date": {
            "type": "integer",
            "description": "date when the object itself was last modified. UTC timestamp."
          },
          "last_submission_date": {
            "type": "integer",
            "description": "most recent date the file was posted to VirusTotal. UTC timestamp."
          },
          "main_icon": {
            "type": "object",
            "description": "icon's relevant hashes, the dictionary contains two keys:",
            "required": [
              "raw_md5",
              "dhash"
            ],
            "properties": {
              "raw_md5": {
                "type": "string",
                "description": "icon's MD5 hash."
              },
              "dhash": {
                "type": "string",
                "description": "icon's difference hash. It can be used to search for files with similar icons using the [/intelligence/search](#intelligence-search) endpoint."
              }
            }
          },
          "md5": {
            "type": "string",
            "description": "file's MD5 hash."
          },
          "meaningful_name": {
            "type": "string",
            "description": "the most interesting name out of all file's names."
          },
          "names": {
            "type": "array",
            "description": "all file names associated with the file.",
            "items": {
              "type": "string"
            }
          },
          "reputation": {
            "type": "integer",
            "description": "file's score calculated from all votes posted by the VirusTotal community. To know more about how reputation is calculated, check [this article](https://support.virustotal.com/hc/en-us/articles/115002146769-Vote-comment)."
          },
          "sha1": {
            "type": "string",
            "description": "file's SHA1 hash."
          },
          "sha256": {
            "type": "string",
            "description": "file's SHA256 hash."
          },
          "sigma_analysis_summary": {
            "type": "object",
            "description": "dictionary containing the number of matched sigma rules group by its severity, same as `sigma_analysis_stats` but split by ruleset. Dictionary key is the ruleset name and value is the stats for that specific ruleset.",
            "additionalProperties": true
          },
          "size": {
            "type": "integer",
            "description": "file size in bytes."
          },
          "tags": {
            "type": "array",
            "description": "list of representative attributes.",
            "items": {
              "type": "string"
            }
          },
          "times_submitted": {
            "type": "integer",
            "description": "number of times the file has been posted to VirusTotal."
          },
          "total_votes": {
            "type": "object",
            "description": "unweighted number of total votes from the community, divided in \"harmless\" and \"malicious\":",
            "required": [
              "harmless",
              "malicious"
            ],
            "properties": {
              "harmless": {
                "type": "integer",
                "description": "number of positive votes."
              },
              "malicious": {
                "type": "integer",
                "description": "number of negative votes."
              }
            }
          },
          "type_description": {
            "type": "string",
            "description": "describes the file type."
          },
          "type_extension": {
            "type": "string",
            "description": "specifies file extension."
          },
          "type_tag": {
            "type": "string",
            "description": "tag representing the file type. Can be used to filter by file type in [VirusTotal intelligence searches](https://support.virustotal.com/hc/en-us/articles/360001387057)."
          },
          "unique_sources": {
            "type": "integer",
            "description": "indicates from how many different sources the file has been posted from."
          },
          "vhash": {
            "type": "string",
            "description": "in-house similarity clustering algorithm value, based on a simple structural feature hash allows you to find similar files."
          }
        }
      },
      "URLObject": {
        "type": "object",
        "description": "URLs doesn't only represent information by themselves, but also can give\ncontextual information about files and other elements on VT.\n\nDifferent URL calls may return different URL-related objects that we list here.",
        "required": [
          "categories",
          "favicon",
          "first_submission_date",
          "html_meta",
          "last_analysis_date",
          "last_analysis_results",
          "last_analysis_stats",
          "last_final_url",
          "last_http_response_code",
          "last_http_response_content_length",
          "last_http_response_content_sha256",
          "last_http_response_cookies",
          "last_http_response_headers",
          "last_modification_date",
          "last_submission_date",
          "outgoing_links",
          "redirection_chain",
          "reputation",
          "tags",
          "targeted_brand",
          "times_submitted",
          "title",
          "total_votes",
          "trackers",
          "url"
        ],
        "properties": {
          "categories": {
            "type": "object",
            "description": "they key is the partner who categorised the URL and the value is the URL's category according to that partner.",
            "additionalProperties": true
          },
          "favicon": {
            "type": "object",
            "description": "dictionary including difference hash and md5 hash of the URL's favicon. Only returned in premium API.",
            "required": [
              "dhash",
              "raw_md5"
            ],
            "properties": {
              "dhash": {
                "type": "string",
                "description": "difference hash"
              },
              "raw_md5": {
                "type": "string",
                "description": "favicon's MD5 hash."
              }
            }
          },
          "first_submission_date": {
            "type": "integer",
            "description": "UTC timestamp of the date where the URL was first submitted to VirusTotal."
          },
          "html_meta": {
            "type": "object",
            "description": "containing all meta tags (only for URLs downloading a HTML). Keys are the meta tag name and value is a list containing all values of that meta tag.",
            "additionalProperties": true
          },
          "last_analysis_date": {
            "type": "integer",
            "description": "UTC timestamp representing last time the URL was scanned."
          },
          "last_analysis_results": {
            "type": "object",
            "description": "result from URL scanners. dict with scanner name as key and a dict with notes/result from that scanner as value.",
            "required": [
              "category",
              "engine_name",
              "method",
              "result"
            ],
            "properties": {
              "category": {
                "type": "string",
                "description": "normalized result. can be:\n* `harmless` - (site is not malicious),\n* `undetected` - (scanner has no opinion about this site),\n* `suspicious` - (scanner thinks the site is suspicious),\n* `malicious` - (scanner thinks the site is malicious).",
                "enum": [
                  "harmless",
                  "undetected",
                  "suspicious",
                  "malicious"
                ]
              },
              "engine_name": {
                "type": "string",
                "description": "complete name of the URL scanning service."
              },
              "method": {
                "type": "string",
                "description": "type of service given by that URL scanning service (i.e. \"blacklist\")."
              },
              "result": {
                "type": "string",
                "description": "raw value returned by the URL scanner (\"clean\", \"malicious\", \"suspicious\", \"phishing\"). It may vary from scanner to scanner, hence the need for the \"category\" field for normalisation."
              }
            }
          },
          "last_analysis_stats": {
            "type": "object",
            "description": "number of different results from this scans.",
            "required": [
              "harmless",
              "malicious",
              "suspicious",
              "timeout",
              "undetected"
            ],
            "properties": {
              "harmless": {
                "type": "integer",
                "description": "number of reports saying that is harmless."
              },
              "malicious": {
                "type": "integer",
                "description": "number of reports saying that is malicious."
              },
              "suspicious": {
                "type": "integer",
                "description": "number of reports saying that is suspicious."
              },
              "timeout": {
                "type": "integer",
                "description": "number of timeouts when checking this URL."
              },
              "undetected": {
                "type": "integer",
                "description": "number of reports saying that is undetected."
              }
            }
          },
          "last_final_url": {
            "type": "string",
            "description": "if the original URL redirects, where does it end."
          },
          "last_http_response_code": {
            "type": "integer",
            "description": "HTTP response code of the last response."
          },
          "last_http_response_content_length": {
            "type": "integer",
            "description": "length in bytes of the content received."
          },
          "last_http_response_content_sha256": {
            "type": "string",
            "description": "URL response body's SHA256 hash."
          },
          "last_http_response_cookies": {
            "type": "object",
            "description": "containing the website's cookies.",
            "additionalProperties": true
          },
          "last_http_response_headers": {
            "type": "object",
            "description": "containing headers and values of last HTTP response.",
            "additionalProperties": true
          },
          "last_modification_date": {
            "type": "integer",
            "description": "UTC timestamp representing last modification date."
          },
          "last_submission_date": {
            "type": "integer",
            "description": "UTC timestamp representing last time it was sent to be analysed."
          },
          "outgoing_links": {
            "type": "array",
            "description": "containing links to different domains.",
            "items": {
              "type": "string"
            }
          },
          "redirection_chain": {
            "type": "array",
            "description": "history of redirections followed when visiting a given URL. The last URL of the chain is not included in the list since it is available at the `last_final_url` attribute.",
            "items": {
              "type": "string"
            }
          },
          "reputation": {
            "type": "integer",
            "description": "value of votes from VT community."
          },
          "tags": {
            "type": "array",
            "description": "tags.",
            "items": {
              "type": "string"
            }
          },
          "targeted_brand": {
            "type": "object",
            "description": "targeted brand info extracted from phishing engines.",
            "additionalProperties": true
          },
          "times_submitted": {
            "type": "integer",
            "description": "number of times that URL has been checked."
          },
          "title": {
            "type": "string",
            "description": "webpage title."
          },
          "total_votes": {
            "type": "object",
            "description": "containing the number of positive (\"harmless\") and negative (\"malicious\") votes received from VT community.",
            "required": [
              "harmless",
              "malicious"
            ],
            "properties": {
              "harmless": {
                "type": "integer",
                "description": "number of positive votes."
              },
              "malicious": {
                "type": "integer",
                "description": "number of negative votes."
              }
            }
          },
          "trackers": {
            "type": "object",
            "description": "contains all found trackers in that URL in a historical manner. Every key is a tracker name, which is a dictionary containing:",
            "required": [
              "id",
              "timestamp",
              "url"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "tracker ID, if available."
              },
              "timestamp": {
                "type": "integer",
                "description": "tracker ingestion date as UNIX timestamp."
              },
              "url": {
                "type": "string",
                "description": "tracker script URL."
              }
            }
          },
          "url": {
            "type": "string",
            "description": "original URL to be scanned."
          }
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ]
}